<?xml version="1.0"?>
<configuration>

  <connectionStrings configSource="bin\dbconnection.config" />
  <appSettings>
        <add key="TimeZoneId" value="GMT Standard Time" />
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
    <system.serviceModel>
		<behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehaviour">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="WebJsonEndpointBehavior">
                    <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" defaultBodyStyle="Bare"/>
                    <diagnosticInspector logRequest="true" logReply="true" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServicesBinding" transferMode="Streamed"
					closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" 
					allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" 
					maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" 
					messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <webHttpBinding>
                <binding name="WebHttpBinding_StreamedRequest" openTimeout="00:10:00" closeTimeout="00:01:00"
                  receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
                  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="StreamedRequest"
				  hostNameComparisonMode="StrongWildcard" >
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </webHttpBinding>
        </bindings>
        <services>
            <service name="WCFService.ServiceTemplate" behaviorConfiguration="ServiceBehaviour">
                <endpoint address="" contract="WCFService.IServiceTemplate" 
				binding="webHttpBinding" bindingConfiguration="WebHttpBinding_StreamedRequest" 
				behaviorConfiguration="WebJsonEndpointBehavior" />
            </service>
        </services>
        <protocolMapping>
            <add binding="basicHttpsBinding" scheme="https" />
        </protocolMapping>
        <extensions>
            <behaviorExtensions>
                <add name="diagnosticInspector" type="WCFService.Infrastructure.BehaviorExtensions.DiagnosticExtensions.DiagnosticBehaviorExtensionElement, WCFService, Version=1.0.0.0, Culture=neutral" />
            </behaviorExtensions>
        </extensions>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
